:{$PORT:3000} {
  encode zstd gzip

  redir /intranet /intranet/ 308

  handle_path /intranet/* {
    root * /srv/intranet
    try_files {path} /index.html
    file_server
  }

  redir /console /console/ 308

  handle_path /console/* {
    root * /srv/console
    try_files {path} /index.html
    file_server
  }

  handle {
    root * /srv/dashboard
    try_files {path} /index.html
    file_server
  }
}
